@model FurnitureStore.ViewModels.ProductViewModel
@{
    ViewBag.Title = "AboutMe";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<!-- about section -->
<style>
    .about_section {
        background-color: #f7f7f7;
        padding: 60px 0;
    }

    .detail-box {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        padding: 40px;
        margin-bottom: 30px;
    }

    .heading_container h2 {
        font-size: 36px;
        font-weight: bold;
        color: #1fd778;
        margin-bottom: 20px;
    }

    .detail-box h3 {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
    }

    .detail-box h4 {
        font-size: 20px;
        font-weight: 500;
        color: #777;
        margin-bottom: 20px;
    }

    .detail-box ul {
        list-style: none;
        padding: 0;
        margin-bottom: 30px;
    }

        .detail-box ul li {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

    .detail-box a {
        display: inline-block;
        background-color: #1fd778;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 15px 30px;
        border-radius: 50px;
        transition: all 0.3s ease-in-out;
    }

        .detail-box a:hover {
            background-color: #111;
        }
    .custom-list {
        list-style-type: none;
        padding: 0;
    }

    .list-title {
        font-weight: bold;
    }

    .list-item {
        border-bottom: 1px solid gray;
        padding: 5px;
    }

</style>
<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>
                    </div>
                    <h3>
                        ĐỒ ÁN WEBSITE BÁN ĐỒ NỘI THẤT
                    </h3>
                    <p>
                        Chào mừng đến với trang web của chúng tôi! Chúng tôi là một đội ngũ chuyên cung cấp các sản phẩm nội thất cao cấp với chất lượng đảm bảo và giá cả hợp lý.

                        Với nhiều năm kinh nghiệm trong lĩnh vực cung cấp nội thất, chúng tôi cam kết mang đến cho khách hàng những sản phẩm tốt nhất, từ các thiết kế đơn giản đến những mẫu mã độc đáo và hiện đại.

                        Chúng tôi luôn luôn tập trung vào chất lượng sản phẩm và dịch vụ khách hàng. Đội ngũ nhân viên của chúng tôi luôn sẵn sàng hỗ trợ và giải đáp mọi thắc mắc của khách hàng. Chúng tôi tin rằng một mối quan hệ lâu dài với khách hàng chỉ có thể được xây dựng dựa trên sự chuyên nghiệp và tận tâm.

                        Cảm ơn quý khách đã tin tưởng và lựa chọn sản phẩm của chúng tôi. Chúng tôi sẽ không ngừng cố gắng để đem lại sự hài lòng tối đa cho khách hàng.
                    </p>
              

                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="~/Content/image/about-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
